<div class="office-container">
    <div class="title">
      <h2 style="margin: 0%;" >Offices</h2>
    </div>
    <div class="header-org">
      <app-browse (searchEvent)="handleSearch($event)"></app-browse>
      <app-browse-toolbar [countryList]="countryList" [viewType]="viewType"(handleCountrySelect)="handleCountrySelect($event)"(resetFilter)="resetFilter()"
      (refreshData)="refreshData($event)" (createEvent)="addOffice()" ></app-browse-toolbar>
    </div>
    <ag-grid-angular  class="ag-theme-alpine" [rowData]="officeData"[suppressRowClickSelection]="true"
      [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [groupHeaderHeight]="50" [animateRows]="true"
      [gridOptions]="gridOptions" [pagination]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
  </div>
