<div class="person-container">
  <div class="title">
    <h2 style="margin: 0%;" >Employees</h2>
  </div>
  <div class="header-people">
    <app-browse (searchEvent)="handleSearch($event)"></app-browse>
    <app-browse-toolbar [officeLists]="filterOfficelist" [orgLists]="filterOrglist" [viewType]="viewType"(selectedOrg)="handleOrgSelect($event)" (selectedOffice)="handleOfficeSelect($event)" (resetFilter)="resetFilter()"
    (refreshData)="refreshData($event)" (createEvent)="onCreatePerson()"></app-browse-toolbar>
  </div>
  <ag-grid-angular #agGrid class="ag-theme-alpine" [rowData]="peopleData"[suppressRowClickSelection]="true"
    [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [components]="components" [groupHeaderHeight]="50" [animateRows]="true"
    [gridOptions]="gridOptions" [pagination]="true" (gridReady)="onGridReady($event)"></ag-grid-angular>
</div>
