<div *ngIf="htmlTemplate === 'manager'">
    <h4 class="hover-effect" (click)="onClick('name')">{{params.data.manager?.firstname}} {{params.data.manager?.lastname}}</h4>
    <h5 (click)="onClick('office')">
        <span class="hover-effect">{{params.data.manager?.office?.name}}</span>
        <span>{{params.data.manager?.office?.city}}</span>
        <span *ngIf="params.data.manager?.office">({{params.data.manager?.office?.country}})</span>
    </h5>
</div>
<div class="name" *ngIf="htmlTemplate === 'name'" (click)="onClick('org')">
    <div>
        <h4 class="hover-effect main-text">{{params.data.name}}</h4>
    </div>
</div>
<div class="count" *ngIf="htmlTemplate === 'count'" (click)="onClick('count')">
    <h4>{{params.data?.headcount}} employees</h4>
</div>
