<div *ngIf="htmlTemplate === 'manager'">
    <h4 class="hover-effect" (click)="onClick('name')" style="cursor: pointer;color: #39babf;margin:0;padding:0;font-weight: 500;font-family: inherit;">{{params.data.manager?.firstname}} {{params.data.manager?.lastname}}</h4>
    <h5  (click)="onClick('office')" style="margin:0;padding:0;font-size: 12px;font-family: sans-serif;"><span class="hover-effect" style="color:#39babf">{{params.data.manager?.office?.name}}</span>
    <span>{{params.data.manager?.office?.city}}</span><span *ngIf="params.data.manager?.office">({{params.data.manager?.office?.country}})</span></h5>
</div>
<div class="name" *ngIf="htmlTemplate === 'name'" (click)="onClick('org')">
    <div>
        <h4 class="hover-effect main-text" style="color: #39babf;margin:0;padding:0;font-weight: 500;font-family: inherit;line-height: unset;">{{params.data.name}}</h4>
       
</div>
</div>
<div *ngIf="htmlTemplate === 'count'" (click)="onClick('count')">
    <h4 style="color: #39babf;margin:0;padding:0;font-size: 14px;font-family: inherit;line-height: unset;">{{params.data?.headcount}} employees</h4>

</div>
