.hover-effect:hover {
    text-decoration: underline;
    cursor: pointer;
 
  }
  .main-text{
    color:#39babf;
    margin:0;
    padding:0;
    font-weight: 500;
    font-family: inherit;

  }
  .name{
    display: flex;
    gap: 15px;
  }