<div *ngIf="currentPath != 'login'">
  <nav class="sidenav" style="margin:0;width:50px;height: 55px;max-height: 55px;">
    <ul class="menu-list-container">
      <li (click)="collapse()" class="no-list-icon" style="padding: 16px;">
        <i  class="toggle-btn fa fa-bars"></i>
     
      </li>
    </ul>

  </nav>
    <nav class="sidenav" [ngClass]="{'collapse': isCollapsed}" style="top:55px;height: 94%;" >
      <ul class="menu-list-container">
        
        <li class="no-list-icon"  ><a [ngClass]="{ 'selected': selected =='home'}" (click)="selected = 'home'" [routerLink]="['home']" ><span><i class="fa fa-home fa-fw"></i>
            </span><span *ngIf="!isCollapsed">Home</span></a></li>
        <li class="no-list-icon" ><a [ngClass]="{ 'selected': selected =='emp'}" (click)="selected = 'emp'" [routerLink]="['people']"><span><i class="fa fa-users  fa-fw"></i>
            </span><span *ngIf="!isCollapsed">Employees</span></a></li>
        <li class="no-list-icon" ><a [ngClass]="{ 'selected': selected =='org'}" (click)="selected = 'org'" [routerLink]="['org']"><span><i class="fa fa-sitemap fa-fw"></i>
            </span><span *ngIf="!isCollapsed">Organization</span></a></li>
        <li class="no-list-icon" ><a [ngClass]="{ 'selected': selected =='office'}" (click)="selected = 'office'" [routerLink]="['office']" ><span><i class="fa fa-building  fa-fw"></i>
            </span><span *ngIf="!isCollapsed">Office</span></a></li>
        <li class="no-list-icon" ><a [ngClass]="{ 'selected': selected =='action'}" (click)="selected = 'action'" [routerLink]="['activity']"><span><i class="fa fa-history  fa-fw"></i>
            </span><span *ngIf="!isCollapsed">Acivity</span></a></li>
        <!-- Add more links as needed -->
      </ul>
      <ul class="menu-list-container signout-profile">
        <li class="no-list-icon " ><a [ngClass]="{ 'selected': selected =='profile'}" class="profile no-padding" (click)="selected = 'profile';clickprofile(loggedinUser.id)" ><span>
          <!-- <i class="fa fa-user fa-fw"></i> -->
          <img class="picture icon"  [src]="'http://localhost:3000/'+loggedinUser.picture">
        </span><span *ngIf="!isCollapsed">Dipanwita</span></a></li>
    <li (click)="logoutUser()" class="no-list-icon"><a routerLink="/about"><span><i class="fa fa-power-off  fa-fw"></i>
        </span><span *ngIf="!isCollapsed">Logout</span></a></li>
      </ul>
    </nav>
    <!-- <app-home *ngIf="selected =='home'" style="z-index: -1;"></app-home>
    <app-person *ngIf="selected =='emp'"></app-person> -->
    <router-outlet ></router-outlet>
    <!-- <router-outlet name="child1"></router-outlet> -->
  </div>

