<div class="outer-container" *ngIf="orgDetails">
  <div class="header-section">
      <div class="header">
          <div class="title">
            <div class="icon"><i class="fa fa-sitemap fa-fw"></i></div>
            <div class="separator"></div>
            <div class="detail-msg">
              <div class="name">{{ orgDetails.name }}</div>
              <div class="desc">Managed by <b>{{ fullName }}</b></div>
            </div>
          </div>
      </div>
      <div class="edit-icon" (click)="editHandler(orgDetails.id)"><i class="fa fa-pencil fa-fw"></i>Edit</div>
  </div>
  <div class="content">
      <div class="emp">
          <div class="flex">
             <i class="icon-left fa fa-users fa-fw"></i>
             <h2 class="emp-title">Employees</h2>
          </div>
          <div class="flex emp-count" (click)="goToEmployeeListForOrg(orgDetails.id)">
             <i class="icon-right fa fa-users fa-fw"></i>
             <h3 class="emp-number"><b>{{orgDetails.headcount}}</b></h3>
          </div>
      </div>
      <div class="action">
         <div class="action-header">
            <h2>Recent Activity</h2>
            <i class="icon-right fa fa-history fa-fw"></i>
         </div>
         <div>
             <app-home-activity></app-home-activity>
         </div>
      </div>
  </div>
</div>