select{
    font: 300 13px / 17px 'Open Sans', 'Helvetica Neue', helvetica, arial, sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    min-height: 17px;
    background-color: transparent;
    color: inherit;
    outline: none;
    border: 0;
    margin: 0;
    margin-right: 10px;
    flex: 1 1 auto;
    box-sizing: content-box;
    border: 1px solid #ccc;
    flex-grow: 1;
    flex-shrink: 1;
    width:120px;
}
.defualt{
    color:#ccc
}
.btn{
    background-color: #39babf ;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    width: auto;
    height: 38px;
   // background: transparent;
    border: 0;
    color: white;
    /* width: 16px; */
    font-size: large;
    &:hover{
        background-color: #2f9c9f;
        cursor: pointer;
    }
}